<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div th:text="${message}">
    {
</div>

<a href="/">Главная</a>
<a href="/user/" th:attrappend="href=${user.id}">Личный кабинет</a>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
          <th:block th:each="user : ${users}">
              <tr>
                  <td th:text="${user.username}">.</td>
                  <td th:each="role : ${user.roles}" th:text="${role}">.</td>
                  <td><a href="/admin/user/" th:attrappend="href=${user.id}">Редактировать</a></td>
                  <td><a href="/admin/deleteUser/" th:attrappend="href=${user.id}">Удалить пользователя</a></td>
              </tr>
          </th:block>
      </tbody>
    </table>
</body>
</html>